<?xml version="1.0" encoding="utf-8"?><!-- NFC -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.oguro_shiyu.readnfc">

    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.NFC"
        tools:ignore="WrongManifestParent" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectActivity" />
        <activity android:name=".WorkingActivity" />
        <activity android:name=".FinishActivity"/>
    </application>

</manifest>